<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Online Game - launching</title>
<link rel="stylesheet" href="home.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<style>
    .body{
      background-color: rgb(50,50,50);
      /* color: white; */
    }
</style>
</head>
<body>
  <form action="" method="post">
    <label for="ballSize">ballSize:</label>
    <input type="text" id="ballSize" name="ballSize"><br><br>
    <label for="raquetSize">raquetSize:</label>
    <input type="text" id="raquetSize" name="raquetSize"><br><br>
    <label for="gameSpeed">gameSpeed:</label>
    <input type="text" id="gameSpeed" name="gameSpeed"><br><br>
    <label for="gameAcceleration">gameAcceleration:</label>
    <input type="text" id="gameAcceleration" name="gameAcceleration"><br><br>
    <label for="winPoint">winPoint:</label>
    <input type="text" id="winPoint" name="winPoint"><br><br>
    <label for="gameMode">gameMode:</label>
    <input type="text" id="gameMode" name="gameMode"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
