<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Online Game - launching</title>
<link rel="stylesheet" href="home.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<style>
    .body{
      background-color: rgb(50,50,50);
      /* color: white; */
    }
</style>
</head>
<body>
  <form action="" method="post">
    <label for="ballwidth">ballwidth:</label>
    <input type="text" id="ballwidth" name="ballwidth" value="5">
    <p> Slider, value 5-30 </p><br><br>
    <label for="planksize">planksize:</label>
    <input type="text" id="planksize" name="planksize" value="5">
    <p> Slider, value 10-40 </p><br><br>
    <label for="Speed">Speed:</label>
    <input type="text" id="Speed" name="Speed" value="1">
    <p> Slider, value 0.5 - 3 </p><br><br>
    <label for="acceleration">acceleration:</label>
    <input type="text" id="acceleration" name="acceleration" value="5">
    <p> Slider 0 - 10 </p><br><br>
    <label for="winpoint">winpoint:</label>
    <input type="text" id="winpoint" name="winpoint" value="5">
    <p> Slider 3 - 15 </p><br><br>
    <label for="gameMode">gameMode:</label>
    <input type="text" id="gameMode" name="gameMode" value="0">
    <p>0 offline, 1 2p, 2 4p</p><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
