{% extends "monapp/base.html" %}

{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}


{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow-lg" style="width: 400px;">
        <div class="card-body p-5">
            <h2 class="card-title text-center mb-4">Se connecter</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Nom d'utilisateur</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-lg">Se connecter</button>
                </div>
                <!-- Ajoutez ici un message d'erreur si l'authentification échoue -->
            </form>
        </div>
    </div>
</div>
{% endblock %}
