{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@300;400;600&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'generalchat.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="content-container-replace">
    <div class="vignette"></div>
    <header>
        <h1><a href="{% url 'home_page' %}" class="logo">Transcendance</a></h1>
        <div>
            <a href="{% url 'general_chat' %}" class="header-btn">Chat</a>
            <a href="{% url 'user_logout' %}" class="header-btn logout-btn">Logout</a>
            <a href="{% url 'user_dashboard' %}" class="header-btn profile-btn">Profile</a>
        </div>
    </header>    
    <div class="background-container"></div> <!-- Ajout du conteneur pour l'image de fond -->
    <div class="chat-container">
        <div class="user-list">
            <div id = "userList">
            </div>
            <button id="newChatButton">New Chat</button>
        </div>
        <div class="chat-window">
            <div class="selected-user">Select a user or group to start chatting</div>
            <div id="messages"></div>
            <div class="message-input">
                <textarea id="messageText" placeholder="Type your message here..."></textarea>
                <input type="hidden" id="imageData" />
                <div id="imagePreview"></div>
                <button id="sendMessage">Send</button>
            </div>
        </div>
    </div>
    <div id="overlay"></div>
    <div class="modal" id="modal">
        <div class="modal-header">
            <div class="title">New Chat</div>
            <button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            <input type="text" id="searchUser" placeholder="Search a user..." class="search-box"/>
            <div id="userList" class="user-list-modal"><!-- Utilisateurs ajoutés dynamiquement ici --></div>
            <button id="createGroupButton" class="modal-footer-btn">Create the chat</button>
        </div>
    </div>
    <script src={% static 'utils.js' %}></script>

    <script src={% static 'generalchat.js' %}></script>
</div>


</body>
</html>
