{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tournament bracket</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'bracket.css' %}">
</head>

<body>
	<div class="background-filter"></div> <!-- Div pour le filtre de l'image de fond -->
	<div class="join-button">
		<a href="#" class="game-button">REJOINS LE TOURNOIS GROSSE SALOPE</a>
	</div>
	<div id="content-container-replace">
		<div data-tournamentSize="{{ tournamentSize|safe }}" id="tour_size"> </div>
		<div class="theme theme-dark">
			<div class="bracket" id="tournamentBracket"></div>
		</div>
		<!-- <script type="module" src="{% static 'js/match.js' %}"></script> -->

		<script type="module" src="{% static 'js/bracket.js' %}"></script>
		<script type="module" src="{% static 'utils.js' %}"></script>
	</div>
</body>

</html>