{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tournament - settings</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'tournament.css' %}">
</head>
<body>
  <div class="vignette"></div>

  <header>
    <h1><a href="{% url 'home_page' %}" class="logo">TRANSCENDANCE</a></h1>
    <nav class="additional-links">
        <ul>
            <li><a href="{% url 'user_login'%}" class="logout">LOGOUT</a></li>
            <li><a href="{% url 'general_chat' %}" class="chat">CHAT</a></li>
            <li><a href="{% url 'user_dashboard' %}" class="profile">PROFILE</a></li>
        </ul>
    </nav>
  </header>

  <div class="content">
    <div class="title-container">
      <h2>Tournament</h2>
      <h2>Settings</h2>
    </div>
    <div class="separator-line"></div>
    <div class="select-text">
      <strong>Ball Width:</strong>
      <input type="range" id="ball-width" name="ball-width" min="0" max="100" step="10">
    </div>
    <div class="select-text">
      <strong>Plank Size:</strong>
      <input type="range" id="plank-size" name="plank-size" min="0" max="100" step="10">
    </div>
    <div class="select-text">
      <strong>Speed:</strong>
      <input type="range" id="speed" name="speed" min="0" max="100" step="10">
    </div>
    <div class="select-text">
      <strong>Acceleration:</strong>
      <input type="range" id="acceleration" name="acceleration" min="0" max="100" step="10">
    </div>
    <div class="select-text">
      <strong style="margin-right: 20px;">Player Amount:</strong>
      <div class="styled-select">
        <select id="player-amount">
          <option value="2">2</option>
          <option value="4">4</option>
          <option value="6">6</option>
          <option value="8">8</option>
          <option value="10">10</option>
          <option value="12">12</option>
        </select>
      </div>
    </div>
    <div class="select-text">
      <strong style="margin-right: 20px;">Win Point:</strong>
      <div class="styled-select">
        <select id="win-point">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>
    <div class="select-text">
      <strong style="margin-right: 20px;">Game Mode:</strong>
      <div class="styled-select">
        <select id="game-mode">
          <option value="0">AI</option>
          <option value="1">Player</option>
          <option value="2">Two Player</option>
          <option value="4">Four Player</option>
        </select>
      </div>
    </div>
    <button class="create-button"><strong>CREATE</strong></button>
    <a href="{% url 'home_page' %}" class="exit-link">Exit</a>
  </div>
</body>
</html>
    