body {
    font-size: calc(0.5vmin + 0.5vw);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#scores {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.score {
    position: absolute;
    top: -5vmin;
    font-size: 2vmin;
    color: #000;
	margin: 0.5em 0;
}

#score1, #score2 {
    transform: translateX(-50%);
}

#score1 {
    left: 30%;
}

#score2 {
    right: 30%;
}

#pong-game {
    position: relative;
    width: 140vmin;
    height: 70vmin;
    border: 1vmin solid #000;
    background-color: #fff;
	background-image: url("https://pbs.twimg.com/media/EDOiue4UUAAAnUm.jpg");
	background-size: cover;
}

.paddle {
    position: absolute;
    width: 1.5vmin;
    height: 15vmin;
    background-color: #000;
}

#paddle1 {
    left: 1vmin;
}

#paddle2 {
    right: 1vmin;
}

#ball {
    position: absolute;
    width: 2vmin;
    height: 2vmin;
    border-radius: 50%;
    background-color: #000;
	background-image: url("https://i1.sndcdn.com/avatars-000894638827-qr5jsd-t240x240.jpg");
	background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
