{% extends "html/header.html" %}

{% load static %}

{% block content %}
<link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@300;400;600&family=Poppins:wght@400;600&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="{% static 'accountInformation.css' %}">

<div class="image-container">
    <img src="https://e1.pxfuel.com/desktop-wallpaper/281/253/desktop-wallpaper-best-6-80s-backgrounds-on-hip-retro-80s.jpg"
        alt="Votre image" style="width:100%; height:100%; object-fit: cover;">
</div>
<div class="frame">
    <div class="tab-container">
        <a href="{% url 'account_information' %}" class="tab account-info-btn">Account Informations</a>
        <a href="{% url 'user_dashboard' %}" class="tab active">Dashboard</a>
        <a href="{% url 'social_management' %}" class="tab">Social Management</a>
    </div>
    <div class="content-area">
        <div class="profile-section">
            <img src="" alt="Photo de profil" class="profile-pic">
            <button class="edit-profile-btn">Edit profile picture</button>
        </div>

        <div class="user-info">
            <div><label>Username:</label><input type="text" value="Shrekito"></div>
            <div><label>Mail:</label><input type="email" value="shrek@swamp.far"></div>
            <div><label>Pronouns:</label><input type="text" value="They, them, it, whom"></div>
            <div>
                <label for="currentPassword">Current Password:</label>
                <input type="password" id="currentPassword">
            </div>
            <div>
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword">
            </div>
            <button id="updatePasswordBtn">Update Password</button>
            <p id="passwordError" style="color: red; font-style: italic; display: none; font-size: 14px;">Incorrect
                current password</p>

            <hr> <!-- Barre horizontale -->

            <div class="color-settings">
                <div class="game-settings-title">
                    <h2>Game customisation</h2>
                </div>
                <div class="color-picker-columns">
                    <div class="color-picker">
                        <label for="BallColor">Ball Color:</label>
                        <button class="button-8" id="BallColor" onclick="openColorPicker('BallColor')">
                            <i class="fa fa-paint-brush"></i> Select Ball Color
                        </button>
                    </div>
                    <div class="color-picker">
                        <label for="EnemyPaddleColor">Enemy Paddle Color:</label>
                        <button class="button-8" id="EnemyPaddleColor" onclick="openColorPicker('EnemyPaddleColor')">
                            <i class="fa fa-paint-brush"></i> Select Enemy Paddle Color
                        </button>
                    </div>
                    <div class="color-picker">
                        <label for="CadreColor">Frame Color:</label>
                        <button class="button-8" id="CadreColor" onclick="openColorPicker('CadreColor')">
                            <i class="fa fa-paint-brush"></i> Select Frame Color
                        </button>
                    </div>
                    <div class="color-picker">
                        <label for="MyPaddleColor">My Paddle Color:</label>
                        <button class="button-8" id="MyPaddleColor" onclick="openColorPicker('MyPaddleColor')">
                            <i class="fa fa-paint-brush"></i> Select My Paddle Color
                        </button>
                    </div>
                    <div class="color-picker">
                        <label for="BgColor">Background Color:</label>
                        <button class="button-8" id="BgColor" onclick="openColorPicker('BgColor')">
                            <i class="fa fa-paint-brush"></i> Select Background Color
                        </button>
                    </div>
                </div>
            </div>


        </div>

        <a href="#" class="edit-link">Edit</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
    <script src={% static 'utils.js' %}></script>
    <script src={% static 'accountInformation.js' %}></script>
</div>
{% endblock %}