{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="{% static 'login.css' %}">
<style>
</style>
</head>
<body>
<div id="title">TRANSCENDANCE</div>
<div id="login-container">
    <div class="split-text">
        <span class="welcome-text">Welcome!</span>
        <span>Please login</span>
    </div>
    <form id="login-form" method='post' action='/api/login/'>
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <button type="submit">Login</button>
    </form>
    <a href="{% url 'user_register' %}" id="register-link">Register</a>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('login-form').addEventListener('submit', function (event) {
        event.preventDefault();
        
        // Serialize form data
        const formData = new FormData(this);
        
        // Send a POST request to the login API
        fetch('/api/login/', {
            method: 'POST',
            body: formData,
        })
        .then(response => {
            if (response.ok) {
                // Redirect upon successful login
                window.location.href = '/dashboard'; // Replace '/dashboard' with the desired URL
            } else {
                // Display error message if login fails
                response.json().then(data => {
                    alert(data.error);  // Assuming the error message is provided in the 'error' field of the JSON response
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});
</script>
</body>
</html>