body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/281/253/desktop-wallpaper-best-6-80s-backgrounds-on-hip-retro-80s.jpg');
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  z-index: -1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  text-decoration: none;
  color: #FFFF99;
  font-size: 47px;
}

.additional-links ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.additional-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.content {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  border-radius: 10px;
  width: 45%;
  height: 70%;
  background-color: rgba(44, 44, 44, 0.714);
}

.select-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.select-text strong {
  font-size: 20px;
}

.select-text input[type="range"] {
  width: 200px;
  margin-left: 30px;
}

.select-text span {
  margin-left: 20px;
}

/* Amélioration des sélecteurs déroulants avec ajustement de l'espace pour la flèche */
.select-text select {
  padding: 8px;
  padding-right: 30px; /* Augmente l'espace à droite pour éloigner la flèche du texte */
  background-color: #FFFF99;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-left: 30px;
  appearance: none;
  cursor: pointer;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="black" d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center / 12px 12px, #FFFF99;
}

.create-button {
  background-color: #FFFF99;
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  font-size: 24px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.create-button:hover {
  background-color: #45a049;
}

.exit-link {
  color: white;
  text-decoration: none;
  font-size: 22px;
  margin-top: 20px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title-container h2 {
  font-size: 50px;
  margin: 0;
}

.separator-line {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 10px 0;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}
